body {
    background-color: #FBFEB9;
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    color: black;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFD2FA;
   text-decoration-line: underline overline;
   font-style: italic;
}

h2 {
    background-color: #FBFEB9;
    color: #001F87;
    font-size: 200%;
    text-decoration: underline;
}

h3 {
    background-color: #CEE9FA;
    color: #001F87;
    font-size: 200%;
    text-decoration: underline;

}

p {
    background-color: #FFF69F;
}

em {
    color: hsl(200, 100%, 40%);
    font-style: normal;
    font-weight: bold;
}

strong {
    color: hsl(200, 100%, 30%);
    font-weight: normal;

}

address {
    background-color: #003786;
    font-weight: bold;
    text-align: right;
    color: white;
}
#luis2{
    color: black;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFD2FA;
   text-decoration-line: underline overline;
   font-style: italic;
}
h5{
    color: black;
    font-size: 100%;
    text-align: left;
    background-color: #FFD2FA;
   
}